


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.sc{
    color: #E95A08;
}


/* navbar related style */
nav{
    width: 1140px;
    
    margin: 24px auto;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.nav-link{
    color: #8987A1;
}
.nav-link-1{
    color: black;
}
#cart{
    font-weight: normal;
    font-size: medium;
}
nav a{
    text-decoration: none;
   
}
nav ul li{
    list-style: none;
    margin-right: 30px;

    
}
#fafa{
    margin-right: 60px;
}
.nav-links{
    display: flex;
    gap: 48px;
    align-items: center;
    
}


/* bannar style */

.bannar-title{
    font-size: 65px;
    font-weight: bold;
}
.bannar{
    display: flex;
    width: 100%;
    width: 1140px;
    margin: 120px auto;
    
}
.bannar-description{
    color: rgba(0, 0, 0, 0.5);
}

/* our palnt section style */

.plant{
    text-align: center;
    justify-items: center;
   
   
   
}
.plant-title{
    font-size: 50px;
    font-weight: bold;
}
.plant-description{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.5) ;
}

.card-container{
    max-width: 1140px;
    
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
    align-items: center;
}
.card{
    width: 240px;
    height: 500px;
    text-align: center;

}
.card-title{
    font-size: 22px;
    font-weight: medium;
}
.price{
    font-size: 22px;
    font-weight: bold;
}
.card img{
    height: 322px;
}
.btn{
    width: 270px;
    
    height: 50px;
    background-color: #E95A08;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
}

/* flower slover section style */
.flower-lover{
    display: flex;
    gap: 30px;
    margin: 0px auto;
    margin-top: 300px;
    width: 1140px;
   
}

.badge{
    width: 286px;
    height: 286px;
  margin-left: 347px;
  
  margin-top: -127px;
   
    position: absolute;
    
}
.lover-title{
    font-size: 50px;
    font-weight: bold;
}
.lover-item ul li{
    font-size: 22px;
    color: #8987A1;
    gap: 0px;
}

/* deals section style */
.deals{
    text-align: center;
    margin-top: 100px;
    width: 100%;

}
.deals-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.deals-description{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.5) ;
}



/* discount card related style */
/* .discount-card{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.discount-card img{
    border-radius: 10px;
}
.card-text{
    position: absolute;
  
    color: aliceblue;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} */


/* join related style */
.join-card img{
    width: 100%;
    /* position: relative; */
    
}
.join{
    margin: 0 auto;
    width: 1440px;
    
    margin-top: 120px;
    position: relative;
}
.join-text{
    position: absolute;
    text-align: center;
    align-items: center;
    top: 25%;
    left: 18%;
    gap: 0px
    
}
.join-text input{
    width: 51.875rem;
height: 47px;

padding: 0px;
position: relative;

padding-left: 20px;


}
.join-text button{
    width: 11.625rem;
    height: 50px;
    
    background-color: #E95A08;
    color: white;
    border: none;
    position: absolute;
    right: 0px;
  
    
 
}
.join-text h4{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    ;
}
    
  




    /*mobile responsive  */

@media screen and (max-width:576px){

   /* navbar and bannar responsive */
    
      body{
        max-width: 576px;
        margin: 0px;
        padding: 0px;
        margin-left: 0px;
      }  
    
   nav{
        margin: 0 auto;
        margin-left: 20px;
       
       
        
    }
    .logo{
        width: 63px;
        height: 38px;
    }
    nav div li{
        display: none;
    }
   
    .navbar{
        width: 100%;
        margin: 0 auto;
         display: flex;
        justify-content: space-between;
       
    }
    /* bannar responsive */
    .bannar{
        flex-direction: column-reverse;
        width: 95%;
        justify-items: center;
       
    }
    .bannar img{
        width: 530px;
        /* margin-right: 10px; */
    }
    
    .bannar-title{
        font-size: 24px;
        font-weight: bold;
    }
    #fafa{
        margin: 0;
    }
    .bannar-description{
        font-size: 14px;
    }

    /* our plant responsive */
    .plant{
        text-align: center;
        justify-items: center;
        margin-left: 100px;
    }
    .plant-title{
        font-size: 24px;
    }
    .plant-description{
        text-align: center;
        justify-items: center;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* max-width: 576px; */

        
  }
     .card{
        height: fit-content;
        width:auto;
        
  }
  
/* lover responsive */
.flower-lover{
    flex-direction: column;
   
    justify-items: center;
    
    width: 100%;
    position: none;
    margin: 0 auto;
}
.flower-lover img{
    /* width: 100%; */
}


.lover-item{
    width: 100%;
    margin-left: 50px;
}
.lover-title{
    text-align: center;
    font-size: 24px;
}
.badge{
    display: none;
    position: none;

}

/* deals responsive */
.deals{
    text-align: center;
    margin-left: 50px;
    
}
.deals-title{
    font-size: 24px;
}




/* join section responsive */
.join{
    width: 550px;
    
   
    position: relative;
}
.join-text input{
    max-width: 321px;
    height: 47px;
    position: relative;
}
.join-card img{
    width: 95%;
    
    
}

.join-text{
    
    position: absolute;
    left: 18%;
    top: 20%;
}
.join-text button{
    position: absolute;
    width: 103px;
}
.join-text h4{
    font-size: 20px; 
}

}